<%- include("../template/cabecera",{tituloWeb: 'Pagina de inicio index'}) %>


    <h1 class="text-primary">Games4Life</h1>

    <h2>
        <%= titulo %>
    </h2>
    <%- include("../template/footer") %>